*{
	margin: 0;
	padding: 0;
}

a{
    cursor: auto;
}

a:link   
{   
 text-decoration:none;   
}  

body{
    background-size: cover;
    font-family: 'Raleway', sans-serif;
    font-size: 14px;
}

p{
    font-family: 'Raleway', sans-serif;
}

.backbutton{
    width: 70px;
    height: 70px;
    float: left;
    background-color: #085173;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.backbutton:hover{
    background-color: #ffffff;
    color: #085173;
    border: solid;
    border-width: 2px;
    border-color: #085173;
}

.iconito{
    margin-top: 18px;
}

.buttons_container {
    height: 70px;
    width: 87%;
    margin-left: 6%;
    margin-top: 34px;
}

/*dropdown*/

button:active {
    opacity: 1;
    box-shadow: 0 -3px 10px rgba(0, 0, 0, 0.1) inset;
}

.button_menu {
    box-shadow: 4px 4px 10px #888888;
}

.form_inputs{
    width: 85%;
    height: 100%;
    margin-left: 6%;
    margin-top: 40px;
    border-width: 2px;
    border-color: #085173; 
}

.title_form {
    font-size: 47px;
    font-weight: bold;
    margin-bottom: 20px;
}

.separator{
    height: 10px;
}

.guia {
    font-size: 17px;
    color: #848484;
    font-weight: bold;
}

.icono_fecha{
    display: inline-block;
}

.entradas{
    height: 100%;
}

.submit_form{
    width: 70px;
    height: 70px;
    float: right;
    background-color: #33c75f;
    border-radius: 50px;
    text-align: center;
    color: #fff;
    font-size: 30px;
}

.submit_form:hover{
    background-color: #ffffff;
    color: #000;
    border: solid;
    border-width: 2px;
    border-color: #33c75f;
}

.buttons_container_footer {
    height: 70px;
    width: 87%;
    margin-left: 6%;
}